html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #e4e7e0;
  font-family: 'Roboto', sans-serif;
  color: #36454c;
}
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
.button {
    width: 110px;
    height: 40px;
    margin: 10px;
}
.box {
    border: 1px solid #d2d4cf;
}
.default {
    color: #d2d4cf;
}
.link {
    color: #36454c;
    border: 1px solid #36454c; 
}

.primary {
    background: #36454c;
    color: #fff;
    border:none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

.round {
    border: 1px solid #d2d4cf;
    border-radius: 20px;
}

.card {
  margin: 10px;
  width: 300px;
  padding: 20px;
}
.card-primary{
  background: #36454c;
  color: #fff;
}
.card-default{
  background: #fff;
  color:#36454c;
 }

.wrapper-card {
  width:100%; 
  height:100%;
}

.input {
  width: 250px;
  height: 25px;
  padding-left: 10px;
  font-size: 14px;
}

.disabled {
  border:none;
  border: 1px solid #d2d4cf;
  color: #d2d4cf;
}

.active {
  border:none;
  border: 1px solid #36454c;
  color: #36454c; 
}

.input-primary {
  border:none;
  background: #36454c ;
  color: #fff;
}
/*-----   select  -----*/
select {
    width: 60%;
    padding: 5px;
  margin-bottom: 10px;
  display: block;
  background: transparent;
}
select.fill{
  background: #36454c;
  color: #e4e7e0;
}
/*-----   end-select  -----*/
/*-----   button  -----*/
.btn{
  padding: 10px 25px;
  border:none;
}
.btn-rounded{
  border-radius: 50px;
}
.btn-primary {
  background: #36454c;
  color: #e4e7e0;
}
.btn-secondary{
  background: transparent;
  color: #36454c;
  border:1px solid #36454c
}
.btn-default{
  background: transparent;
  color:#888888;
  border:1px solid #888888
}
.btn-nostyle {
  background: transparent;
}
.link{
  text-decoration: none;
  color: #36454c;
}
/*-----   end-button  -----*/
/*-----   color  -----*/
.colorpreview{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  margin:0 auto;
}
.primary{
  background: #36454C;
  color:#E4E7E0;
}
.secondary{
  background:#E4E7E0;
  color:#36454C;
}
.white{
  background: #ffffff;
}
.regular{
  background:#D2D4CF;
}

/*-----   end-color  -----*/
/*-----   card  -----*/
.card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #36454c;
}
.card-icon{
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.card-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
}
.card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-subtitle {
    font-size: 12px;
}
.card.primary .card-icon{
  background: #E4E7E0;
}
.card.secondary .card-icon{
  background: #36454C;
}
/*-----   end-card  -----*/
/*-----   pagination  -----*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  
}

.dark-pagination a.active {
  background-color: #36454C;
  color: white;
}
.light-pagination a.active {
  background-color: #D2D4CF;
  color: #36454C;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.light-pagination a:first-child, .light-pagination a:last-child {
  background:#D2D4CF;
  color:#36454C;
}
.dark-pagination a:first-child, .dark-pagination a:last-child {
  background:#36454C;
  color:#E4E7E0;
}
.dark-pagination a:first-child:hover, .dark-pagination a:last-child:hover{
  background:#4e5c63;
}
/*-----   pagination  -----*/
/*----- select ------*/
.v-select {
    width: 13%;
    margin: 20px;
}
.vs--single .vs__selected {
  color: #e4e7e0;
}
/*----- end-select ------*/
input.input {
    margin: 20px;
}