@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #e4e7e0;
  font-family: 'Roboto', sans-serif;
  color: #36454c;
}
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
.button {
    width: 110px;
    height: 40px;
    margin: 10px;
}
.box {
    border: 1px solid #d2d4cf;
}
.default {
    color: #d2d4cf;
}
.link {
    color: #36454c;
    border: 1px solid #36454c; 
}

.primary {
    background: #36454c;
    color: #fff;
    border:none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

.round {
    border: 1px solid #d2d4cf;
    border-radius: 20px;
}

.card {
  margin: 10px;
  padding: 20px;
}
.card-primary{
  background: #36454c;
  color: #fff;
}
.card-default{
  background: #fff;
  color:#36454c;
 }

.wrapper-card {
  width:100%; 
  height:100%;
}

.input {
  width: 250px;
  height: 25px;
  padding-left: 10px;
  font-size: 14px;
}

.disabled {
  border:none;
  border: 1px solid #d2d4cf;
  color: #d2d4cf;
}

.active {
  border:none;
  border: 1px solid #36454c;
  color: #36454c; 
}

.input-primary {
  border:none;
  background: #36454c ;
  color: #fff;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.input {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}
h1{font-size: 40px;}
h2{font-size: 30px}
h3{font-size: 20px}
h4{font-size: 15px}
h5{font-size: 12px}
h6{font-size: 10px}
/*-----   col  -----*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/*-----   end-col -----*/
/*-----   left-sidebar  -----*/
.left-sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 10;
  background: #e4e7e0;
  border-right: 1px solid #d2d4ce;
}
.scroll-sidebar, .sidebar-nav .has-arrow {
  position: relative;
}
a#dashboard {
  text-decoration: none;
  color: #36454c;
  position: relative;
}
a#dashboard.active {
    border: none;
}
a#dashboard h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  padding: 20px 30px 20px 40px;
  margin: 0;
}
a#dashboard.active h2{
  background: #36454c;
  color: #e4e7e0;
}
a#dashboard.active h2:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e4e7e0;
  left: 235px;
  top: 20px;
}
ul#sidebarnav {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul#sidebarnav li {
  padding: 0 40px;
}
ul#sidebarnav li p {
  border-bottom: 1px solid #d2d4ce;
  margin: 0;
  padding: 20px 10px;
  font-weight: 500;
  color: #36454c;
  font-size: 18px;
}
ul#sidebarnav li a {
  text-decoration: none;
}
ul#sidebarnav li:hover {
  background: #36454c;
}
ul#sidebarnav li:hover p,  ul#sidebarnav li.active p {
  color: #e4e7e0;
  border-bottom: none;
}
ul#sidebarnav li.active, ul#sidebarnav li.active:hover{
  background: #36454c;
  color: #e4e7e0;
  position: relative;
}
ul#sidebarnav li .submenu-nav{
  display: none;
}
ul#sidebarnav li.active .submenu-nav{
  display: block;
  list-style: none;
  padding-bottom: 20px;
  
}
ul#sidebarnav li ul.submenu-nav li {
  padding-left: 0px;
}
ul#sidebarnav li.active:before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e4e7e0;
  left: 235px;
  top: 15px;
  }
  /*-----   search-sidebar  -----*/
.search {
    margin: 20px 0;
}
.search form {
    background: #36454c;
    padding: 10px;
    vertical-align: middle;
    margin: 0 auto;
    width: 80%;
    border-radius: 50px;
}
.search form img {
    width: 15px;
    vertical-align: middle;
    margin-left: 10px;
}
.search form input {
    background: #36454c;
    border: none;
    color: #e4e7e0;
}
/*-----   end-search-sidebar  -----*/
/*-----   end-left-sidebar  -----*/
/*-----   page-wrapper  -----*/
.page-wrapper {
    margin: 20px 20px 20px 270px;
}
.widget {
    border: 1px solid #d2d4ce;
    border-radius: 30px;
  padding:30px;
  margin:10px;
}
.widget-title {
    font-weight: 500;
    margin-bottom: 20px;
}
/*-----   select  -----*/
select {
    width: 60%;
    padding: 5px;
  margin-bottom: 10px;
  display: block;
  background: transparent;
}
select.fill{
  background: #36454c;
  color: #e4e7e0;
}
/*-----   end-select  -----*/
/*-----   button  -----*/
.btn{
  padding: 10px 25px;
  border:none;
}
.btn-rounded{
  border-radius: 50px;
}
.btn-primary {
  background: #36454c;
  color: #e4e7e0;
}
.btn-secondary{
  background: transparent;
  color: #36454c;
  border:1px solid #36454c
}
.btn-default{
  background: transparent;
  color:#888888;
  border:1px solid #888888
}
.btn-nostyle {
  background: transparent;
}
.link{
  text-decoration: none;
  color: #36454c;
}
/*-----   end-button  -----*/
/*-----   color  -----*/
.colorpreview{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  margin:0 auto;
}
.primary{
  background: #36454C;
  color:#E4E7E0;
}
.secondary{
  background:#E4E7E0;
  color:#36454C;
}
.white{
  background: #ffffff;
}
.regular{
  background:#D2D4CF;
}

/*-----   end-color  -----*/
/*-----   card  -----*/
.card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #36454c;
}
.card-icon{
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.card-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
}
.card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-subtitle {
    font-size: 12px;
}
.card.primary .card-icon{
  background: #E4E7E0;
}
.card.secondary .card-icon{
  background: #36454C;
}
/*-----   end-card  -----*/
/*-----   pagination  -----*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  
}

.dark-pagination a.active {
  background-color: #36454C;
  color: white;
}
.light-pagination a.active {
  background-color: #D2D4CF;
  color: #36454C;
  border: 1px solid #d2d4cf;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.light-pagination a:first-child, .light-pagination a:last-child {
  background:#D2D4CF;
  color:#36454C;
}
.dark-pagination a:first-child, .dark-pagination a:last-child {
  background:#36454C;
  color:#E4E7E0;
}
.dark-pagination a:first-child:hover, .dark-pagination a:last-child:hover{
  background:#4e5c63;
}
/*-----   pagination  -----*/
/*----- select ------*/
.v-select {
    width: 13%;
    margin: 20px;
}
.vs--single .vs__selected {
  color: #e4e7e0;
}
/*----- end-select ------*/
input.input {
    margin: 20px;
}
.primary .vs__search::placeholder,
.primary .vs__dropdown-toggle,
.primary .vs__dropdown-menu {
  background: #36454c;
  border: none;
  color: #fff;
  text-transform: lowercase;
  font-variant: small-caps;
}
.primary .vs__dropdown-option {
color:#fff;
}
.primary .vs__clear,
.primary .vs__open-indicator {
  fill: #fff;
}

.disable .vs__dropdown-toggle {
  border: 1px solid #707070 !important;
}
.default .vs__dropdown-toggle {
  border: 1px solid #36454C !important;
  background: white;
}

.disable .vs__dropdown-menu {
  color: red !important; 
}